---
layout: default
title: Tech tips
permalink: /tech_tips/
---

<div class="home">

  <h1 class="post-title">Tech tips</h1>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <p>
  <a href="{{ "/" | prepend: site.baseurl }}"><i class="fas fa-file-alt"></i> <b>Blog articles</b></a> |
  <i class="fas fa-lightbulb"></i> <b>Tech tips</b>
  </p>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains "techtips" %}
        <li style="clear:both;">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          {% if post.og_image %}
            <img src="{{ post.og_image }}" style="width:100px;margin-right:15px;float:left;" />
          {% endif %}

          {{ post.excerpt }}

          <p class="text-right"><a href="{{ post.url | prepend: site.baseurl }}">continue reading →</a></p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
