---
layout: default
title: Tech Tips | Knapsack Pro
permalink: /tech_tips/
---

<h1 class="post-title">Tech tips</h1>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<p>
<a href="{{ "/blog/" | prepend: site.baseurl }}"><i class="fas fa-file-alt"></i> <b>Blog articles</b></a> |
<a href="{{ "/continuous_integration/" | prepend: site.baseurl }}"><i class="fas fa-cube"></i> <b>Continuous Integration</b></a> |
<i class="fas fa-lightbulb"></i> <b>Tech tips</b> |
<a href="{{ "/news/" | prepend: site.baseurl }}"><i class="fas fa-lightbulb"></i> <b>News</b></a>
</p>

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.categories contains "techtips" %}
      {% include post_trailer.html post=post %}
    {% endif %}
  {% endfor %}
</ul>
