<style>
  #js-cookies-message{padding: 0.5rem 1rem; display: none; opacity: 90%; text-align: center; position: fixed; bottom: 0; width: calc(100% - 2rem); background: #efefef;}
  #js-cookies-message button {cursor: pointer; border-radius: 10px; padding: 10px 20px; background-color: #0864cf; color: #fff; border: 0;}
  #js-cookies-message button:hover {background-color: #5e8fc8;}
</style>

<div id="js-cookies-message">
  <p>
    This site uses cookies. By staying here you accept them. See our <a href="https://knapsackpro.com/cookies", target="_blank">Cookie Policy</a> for details.<br>
    For more information on how to turn off the use of cookies, please <a href="https://knapsackpro.com/cookies#turning-off-cookies", target="_blank">see this</a>.<br>
    To refuse the use of cookies, please leave the page (more details <a href="https://knapsackpro.com/cookies#withdrawing-consent", target="_blank">here</a>).
  </p>
  <p>
    <a href="#" class="btn btn-primary" id="js-cookies-close"><button>I Agree</button></a>
  </p>
</div>

<script>
  $(document).ready(function() {
    var cookieName = 'cookies_consent_docs'

    if (document.cookie.includes(cookieName)) {
      // no-op
    } else {
      document.getElementById('js-cookies-message').style.display = 'block';
    };

    $("#js-cookies-close").click(function(e) {
      e.preventDefault()

      $("#js-cookies-message").fadeOut()

      var date = new Date();
      date.setMonth(date.getMonth() + 12);
      var dateString = date.toUTCString();

      document.cookie = cookieName + "=true;expires=" + dateString

      window.ga('send', 'event', 'Cookie consent', 'Cookie consent - I agree', 'Alert');
    });
  });
</script>
