<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Found a typo? Want to contribute?</li>
          <li><a href="{{ site.github_repository }}" rel="nofollow noopener noreferrer" target="_blank">Source Code of this site</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><i class="fab fa-youtube"></i> <a href="https://www.youtube.com/c/ArturTrzop" rel="nofollow noopener noreferrer" target="_blank" class="page-link">Testing tips</a></li>
          <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/KnapsackPro" rel="nofollow noopener noreferrer" target="_blank" class="page-link">Follow us on Twitter</a></li>
          <li><i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/KnapsackPro" rel="nofollow noopener noreferrer" target="_blank" class="page-link">Like our Fanpage</a></li>
          <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/company/knapsackpro/" rel="nofollow noopener noreferrer" target="_blank" class="page-link">Follow us on LinkedIn</a></li>
          <li><i class="fab fa-github"></i> <a href="https://github.com/KnapsackPro" rel="nofollow noopener noreferrer" target="_blank" class="page-link">GitHub</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

    <div class="footer-copy">
      <p>
        <a href="https://knapsackpro.com/cookies" rel="nofollow noopener noreferrer" target="_blank" class="page-link">Cookie Policy</a>
        &bull;
        <!-- Render CookieYes.com settings on the link click -->
        <a class="cky-banner-element footer-link-secondary cursor-pointer">Cookie Settings</a>
      </p>
      <p>
        &copy; 2015 - {{ site.time | date: '%Y' }} <a href="{{ site.knapsack_pro_url }}" rel="nofollow noopener noreferrer" target="_blank">KnapsackPro.com</a>
      </p>
    </div>

  </div>

</footer>
