<script>
$(document).ready(function() {
  if (document.cookie.includes("u_source")) {
    return;
  };

  var date = new Date();
  date.setMonth(date.getMonth() + 6);
  var dateString = date.toUTCString();
  var cookieAttributesString = "path=/;domain=knapsackpro.com;expires=" + dateString + ";";

  document.cookie = "u_source=docs_knapsackpro;" + cookieAttributesString;
  document.cookie = "u_medium=readme;" + cookieAttributesString;
  document.cookie = "u_campaign=knapsack_gem_readme;" + cookieAttributesString;
  document.cookie = "u_content=knapsack_gem_readme_pageview;" + cookieAttributesString;
});
</script>
