<script>
$(document).ready(function() {
  if (document.cookie.includes("u_source")) {
    return;
  };

  var date = new Date();
  date.setMonth(date.getMonth() + 6);
  var dateString = date.toUTCString();
  var cookieAttributesString = "path=/;domain=knapsackpro.com;expires=" + dateString + ";";
  var utmCampaignString = document.location.pathname.substring(6);

  document.cookie = "u_source=docs_knapsackpro;" + cookieAttributesString;
  document.cookie = "u_medium=blog_post;" + cookieAttributesString;
  document.cookie = "u_campaign=" + utmCampaignString + ";" + cookieAttributesString;
  document.cookie = "u_content=blog_post_pageview;" + cookieAttributesString;
});
</script>
